<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Admin/AllRaces">Biegi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/AllUsers">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/AllClubs">Kluby</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Account/Login">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>

<div class="m-4">
    <div class="container">
        <div class="row gutters">
            <!-- Right column with form -->
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <form method="post" asp-action="CreateClub" asp-controller="Admin">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-primary">Szczegóły Klubu</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="Name">Nazwa</label>
                                            <input name="Name" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="Description">Opis</label>
                                            <input name="Description" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                   
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-2 text-primary">Adres</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="Region">Województwo</label>
                                            <input name="Region" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="City">Miasto</label>
                                            <input name="City" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="Street">Ulica</label>
                                            <input name="Street" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="BuildingNumber">Nr budynku</label>
                                            <input name="BuildingNumber" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label class="fs-5" for="PostalCode">Kod pocztowy</label>
                                            <input name="PostalCode" class="form-control" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="row gutters m-4">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="text-right">
                                                <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                                                <a class="btn btn-secondary" asp-controller="Admin" asp-action="AllRaces">Anuluj</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding-top: 0;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100vh;
    }

    .container {
        padding: 0;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>
